!======================================
!
!          Xresources CONFIG
!
!======================================
! maintainer
!   - beankuu@gmail.com
!
! hints from
!   - https://github.com/unix121/i3wm-themer
!   - https://materialuicolors.co   [colour scheme]


! 0.Define
#define BACKGROUND              #222222
#define FOREGROUND              #666666

#define RED                     #F44336
#define PINK                    #E91E63 
#define PURPLE                  #9C27B0
#define DEEP-PURPLE             #673AB7
#define INDIGO                  #3F51B5
#define BLUE                    #2196F3
#define LIGHT-BLUE              #03A9F4
#define CYAN                    #00BCD4
#define TEAL                    #009688
#define GREEN                   #88C34A
#define LIGHT-GREEN             #8BC34A
#define LIME                    #CDDC39
#define YELLOW                  #FFEB3B
#define AMBER                   #FFC107
#define ORANGE                  #DEEP-ORANGE
#define BROWN                   #795548
#define GREY                    #9E9E9E
#define BLUE-GREY               #607D8B


! 1. Global Modifiers
*background:                    BACKGROUND
*foreground:                    FOREGROUND

*cursorColor:                   #005555
*color0:                        #222222
*color1:                        #BBBBBB
*color2:                        #777777
*color3:                        #454545
*color4:                        #009999
*color5:                        #434343
*color6:                        #00CCCC
*color7:                        #EEEEEE
*color8:                        #282828
*color9:                        #CCCCCC
*color10:                       #8D8F8D
*color11:                       #505050
*color12:                       #999999
*color13:                       #484848
*color14:                       #00DDDD
*color15:                       #E8E8E8

*dpi : 144

! 2. URxvt
URxvt.font: xft:NeoDunggeunmo:size=16,xft:NanumGothicCoding Semibold:size=16;1,xft:Source Code Pro Semibold:size=16;1
URxvt.Depth:                    32
URxvt*scrollBar:                false
URxvt*mouseWheelScrollPage:     false
URxvt*cursorBlink:               true
URxvt*saveLines:                 5000
URxvt*internalBorder: 5
!URxvt*geometry: 70x19
URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
!URxvt.perl-ext-common: font-size
URxvt*iso14775:False
