!======================================
!
!          Xresources CONFIG
!
!======================================
! maintainer
!   - beankuu@gmail.com
!
! hints from
!   - https://github.com/unix121/i3wm-themer
!   - https://materialuicolors.co   [colour scheme]

! 1. Global Modifiers
  *background:                    #222222
  *foreground:                    #666666
  *cursorColor:                   #005555
!!1 color 0~7: normal colors
  *color0:                        #222222
  *color1:                        #BBBBBB
  *color2:                        #777777
  *color3:                        #454545
  *color4:                        #009999
  *color5:                        #434343
  *color6:                        #00CCCC
  *color7:                        #EEEEEE
!!! color 8~15: brighter counterparts
  *color8:                        #282828
  *color9:                        #CCCCCC
  *color10:                       #8D8F8D
  *color11:                       #505050
  *color12:                       #999999
  *color13:                       #484848
  *color14:                       #00DDDD
  *color15:                       #E8E8E8

! 2. URxvt
  URxvt.font: xft:NeoDunggeunmo:size=16,xft:NanumGothicCoding Semibold:size=16;1,xft:Source Code Pro Semibold:size=16;1
  URxvt.Depth:                    32
  URxvt*scrollBar:                false
  URxvt*mouseWheelScrollPage:     false
  URxvt*cursorBlink:               true
  URxvt*saveLines:                 5000
  URxvt*internalBorder: 5
  URxvt.inputMethod: ibus
  URxvt.preeditType: OverTheSpot
  
  URxvt*iso14775:False
  URxvt.perl-ext-common: clipboard,font-size
  URxvt.keysym.Shift-Control-C: perl:clipboard:copy
  URxvt.keysym.Shift-Control-V: perl:clipboard:paste
  URxvt.keysym.Control-Up:     font-size:increase
  URxvt.keysym.Control-Down:   font-size:decrease
