!======================================
!
!          Xresources CONFIG
!
!======================================
! maintainer
!   - beankuu@gmail.com
!
! hints from
!   - https://github.com/unix121/i3wm-themer
!   - https://materialuicolors.co   [colour scheme]

! 1. Global Modifiers
  *background:                    #28262d
  *backalt:                       #302d38
  *foreground:                    #8daac6
  *forealt:                       #93bbdd
  *cursorColor:                   #005555
!!1 color 0~7: normal colors
  *color0:                        #28262d
  *color1:                        #3c459e
  *color2:                        #678dd5
  *color3:                        #c57085
  *color4:                        #d3d3d7
  *color5:                        #699158
  *color6:                        #5d3964
  *color7:                        #145ebe
!!! color 8~15: brighter counterparts
  *color8:                        #8daac6
  *color9:                        #6d7ca8
  *color10:                       #90a7d2
  *color11:                       #dca9b5
  *color12:                       #cecbcd
  *color13:                       #abb087
  *color14:                       #9d88a2
  *color15:                       #729ed8

! 2. Xft
  Xft.hinting: 0
  Xft.antialias: 1

! 3. URxvt
!  URxvt.font: xft:NeoDunggeunmo:size=16,xft:NanumGothicCoding-Bold:size=14,xft:Source Code Pro Semibold:size=14
  URxvt.font: xft:NanumGothicCoding-ExtraBold:size=14,xft:Source Code Pro Semibold:size=14,xft:Symbola:style=Regular:pixelsize=14

  URxvt.Depth:                    32
  URxvt*scrollBar:                false
  URxvt*mouseWheelScrollPage:     false
  URxvt*cursorBlink:               true
  URxvt*saveLines:                 5000
  URxvt*internalBorder: 5
  URxvt.inputMethod: ibus
  URxvt.preeditType: OverTheSpot
  
  URxvt*iso14775:False
  URxvt.perl-ext-common: default,clipboard,font-size,matcher
  URxvt.keysym.Shift-Control-C: perl:clipboard:copy
  URxvt.keysym.Shift-Control-V: perl:clipboard:paste
  URxvt.keysym.Control-Up:     font-size:increase
  URxvt.keysym.Control-Down:   font-size:decrease
  URxvt.url-launcher: /usr/bin/xdg-open
  URxvt.matcher.button: 1 
  URxvt.keysym.C-Delete: perl:matcher:last
  URxvt.keysym.M-Delete: perl:matcher:list
  URxvt.matcher.rend.0: Uline Bold fg5

